.custom-nav-link {
  background: transparent;        
  color: black;                   
  margin: 0;                       
  padding: 10px 20px;              
  border: 2px solid rgb(243, 243, 243);  
  border-radius: 1rem;            
}
.custom-nav-item {
  margin: 0;                  
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                 
}

.custom-nav-link:hover {
  background: linear-gradient(to right, rgb(255, 69, 97), rgb(75, 115, 248), rgb(252, 58, 252));
  background-clip:text;
  -webkit-background-clip: text; 
  color: transparent; 
}

.custom-nav-link.active {     
  background: linear-gradient(to right, rgb(255, 69, 97), rgb(75, 115, 248), rgb(252, 58, 252));
  background-clip:text;
  -webkit-background-clip: text; 
  color: transparent; 
  border-color: #c7e3ff;           /* Active tab border color */
}

.category {
  background-color: rgb(143, 191, 255);
  padding: 0.5rem;
  border-radius: 6rem;
  font-size: smaller;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-check,label, .text-decoration-none{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box {
  margin-top: 2rem;;
}

.custom-btn {
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  border-radius: 1rem;
}

.modal-title{
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  background-clip:text;
  -webkit-background-clip: text; 
  color: transparent; 
}

#search-btn {
  width: 500%;
  margin-left: 1rem;
}
