<footer class="bg-black text-white py-5">
  <div class="container">
    <div class="row">
      <!-- Travel Column -->
      <div class="col-md-2">
        <h5>【 Travel 】</h5>
        <ul class="list-unstyled">
          <li><a href="./../../index.html" class="text-white" id="links">Book a Flight</a></li>
          <li><a href="./../../Pages/Info/info.html" class="text-white" id="links">Airport Info</a></li>
          <li><a href="./../../Pages/Membership/membership.html" class="text-white" id="links">Membership</a></li>
        </ul>
      </div>

      <!-- Help Column -->
      <div class="col-md-2">
        <h5>【 Help 】</h5>
        <ul class="list-unstyled">
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">FAQS</a></li>
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">Contact Us</a></li>
        </ul>
      </div>

      <!-- Extras Column -->
      <div class="col-md-3">
        <h5>【 Extras 】</h5>
        <ul class="list-unstyled">
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">Why Did We Create This?</a></li>
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">Good Question</a></li>
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">Just Because</a></li>
          <li><a href="./../../Pages/FAQs/faqs.html" class="text-white" id="links">We Love Cats :D</a></li>
        </ul>
      </div>

      <!-- Logo and Copyright Section (same row) -->
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <!-- Logo and Text Section aligned right -->
        <div class="d-flex flex-column align-items-end">
          <!-- SpaceCat Logo and Text -->
          <div class="d-flex align-items-center">
            <span class="text-white fs-1" id="space-cat-text">SPACECAT</span>
            <img src="./Components/Photos/logo.png" alt="SpaceCat Logo" class="ms-2" style="height: 55px;">
          </div>
          <!-- Copyright Text below the logo -->
          <p class="text-white small mb-0" id="copyright">Copyright © 2024 SpaceCat Airlines, Inc. <br>All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
