.custom-btn {
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  border-radius: 1rem;
}

.modal-title{
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  background-clip:text;
  -webkit-background-clip: text; 
  color: transparent; 
  cursor:default;
}

:root {
  --light-blue: rgb(90, 180, 250);
  --dark-blue:  rgb(28, 126, 201);
  --darker-blue: rgb(17, 78, 125);
}

.main-container {
  margin-left: 12%;
  margin-right: 12%;
}
.lb {
  background-color: var(--light-blue);
}
.db {
  background-color: var(--dark-blue);
}
.dkb {
  background-color: var(--darker-blue);
}
.card {
    height: 600px;
    border-radius: 20px;
}

.card h3 {
  margin-top: 50px;
  font-size: 12px;
  text-decoration: underline;
}

.text-container {
  height: 550px
}

.card-head-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.card-head-container h2 {
  padding-left: 25%;
  padding-top: 10%;
  font-size: 50px;
}
.card-head-container img {
  display: flex;
  justify-content:end;
  padding-left: 20%;
  padding-top: 10%;
  height: 180px;
  width: 200px;
}

.card-body-container p {
  padding-left: 7%;
}
.benefits {
  padding-left: 7%;
  padding-top: 5%;
}
.benefits i {
  margin-right: 10px;
  font-size: 30px;
}
.header {
  margin-left: -20px;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}