.custom-btn {
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  border-radius: 1rem;
}

.modal-title{
  background: linear-gradient(to left, rgb(124, 34, 162), rgb(89, 128, 255));
  background-clip:text;
  -webkit-background-clip: text; 
  color: transparent; 
  cursor:default;
}

/* Make the image bigger */
.centered-image {
  display: block; /* Ensure the image behaves like a block element */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  width: 100%; /* Set a percentage width for responsiveness */
  max-width: 65rem; /* Max width to prevent it from growing too large */
  height: 60rem; /* Maintain aspect ratio */
}
